<div>limit: {{ limit$ | async }}</div>
<div>offset: {{ offset$ | async }}</div>
<div>totalPage: {{ totalPage$ | async }}</div>
<div>currentPage: {{ currentPage$ | async }}</div>

<button (click)="prevPage()">prev</button>
<select [formControl]="limitFormControl">
  <option [value]="10">10 รายการ</option>
  <option [value]="20">20 รายการ</option>
  <option [value]="50">50 รายการ</option>
</select>
<button (click)="nextPage()">next</button>

<div style="display: flex; flex-wrap: wrap">
  <div *ngFor="let paginate of paginatePokemons$ | async; let i = index">
    <h3>{{ i + 1 }}. name: {{ paginate.name }}</h3>
    <app-pokemon [url]="paginate.url"></app-pokemon>
  </div>
</div>
